.room
    display: flex
    justify-content: flex-start
    align-items: center
    height: 100vh
    overflow: hidden

    .mobileHand
        display: none

    .slot, .card
        height: 210px
        width: 170px

    .slot
        background-color: rgba(white, 0.15)
        border-radius: 5px

    .card
        padding: 15px
        background-color: white
        border-radius: 5px
        color: var(--black)
        font-size: 13px
        position: relative
        overflow-wrap: break-word
        user-select: none

        & > *
            pointer-events: none

        small
            font-size: 11px
            opacity: 0.7

        b
            font-weight: 200

    .game
        flex-grow: 1
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

        h2
            font-size: 24px
            margin-bottom: 20px
            text-align: center

            small
                opacity: 0.5
                font-size: 16px
                font-weight: 200

        .picks
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center

            .slot
                margin: 5px

    .hand, .mobileHand, .nav, .chat
        background-color: var(--darkgray)

    @media (min-width: 800px)
        & > div
            height: 100%

        .nav
            display: none

        .hand
            width: 210px
            overflow-y: auto
            padding: 0 20px

            .slot
                margin-top: 20px

                &:last-child
                    margin-bottom: 20px

        .chat
            width: 210px
            pointer-events: none
            display: flex
            flex-direction: column

            .scoreboard
                padding: 20px
                margin-bottom: auto

                h5
                    font-size: 15px
                    font-weight: 200

            h3
                margin-bottom: 5px

            h4
                font-weight: 200

            .send
                display: flex
                width: 100%
                pointer-events: all
                justify-contet: center
                align-items: center

                button
                    width: 70px

                input
                    width: 100%

                button, input
                    font-size: 12px

    @media (max-width: 800px)
        flex-direction: column

        .hand
            display: none

        .mobileHand
            display: flex
            flex-wrap: nowrap
            overflow-x: auto
            width: 100vw
            overflow-scrolling: touch
            -webkit-overflow-scrolling: touch

            .slot
                flex: 0 0 auto
                margin: 10px
                margin-right: 0

            .end
                flex: 0 0 auto
                width: 10px
                height: 50px
                display: block

        .slot, .card
            height: 160px
            width: 130px
            font-size: 10px

            small
                font-size: 9px

        .chat
            display: none

        .nav
            display: block
            width: 100vw
            height: 70px
            background-color: var(--darkgray)

.label
    opacity: 0.7
    margin-right: 5px

.log
    padding: 20px
    height: 35%
    overflow: auto
    pointer-events: all
    position: relative

    .serverMessage
        opacity: 0.5
        font-size: 10px

    p
        font-size: 12px
        margin-top: 5px

        &:last-child
            margin-bottom: 20px

.shadow
    position: relative
    z-index: 2
    pointer-events: none
    height: 50px
    margin-bottom: -50px
    width: calc(100% - 7px)
    content: ''
    top: 0
    background: linear-gradient(var(--darkgray), transparent)